{% extends "Base/header.html" %}
{% load static %}

{% if form.errors %}
<p class="warning", style="color: red"> Los datos cargados no son correctos </p>
{% endif %}

{% block content %}
<div class="container">
    <h1> Editar Artista </h1><br>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <table>

            {{ form.as_table }}

        </table>
        <input type="submit", value="Enviar">
    </form>
</div>
<!-- fin div container -->
{% endblock %}