{% extends "Base/header.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1> Tabla de Artistas </h1><br>
    <p> Listado de todos los artistas cargados en la base de datos </p><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <!-- <th scope="col">Creación</th>
                <th scope="col">Modificación</th> -->
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Banda</th>
            </tr>
        </thead>
        <tbody>         
            {% for value in artistas %}
            
            <tr>
                <td scope="row">{{ value.id}}</td>
                <!-- <td scope="row">{{ value.creation_date }}</td>
                <td scope="row">{{ value.modification_date }}</td> -->
                <td scope="row">{{ value.nombre }}</td>
                <td scope="row">{{ value.apellido }}</td>
                <td scope="row">{{ value.banda }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- fin div container -->
{% endblock %}