{% extends "Base/header.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1> Tabla de clientes </h1><br>
    <p> Listado de todos los clientes cargados en la base de datos </p><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <!-- <th scope="col">Creación</th>
                <th scope="col">Modificación</th> -->
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
            </tr>
        </thead>
        <tbody>         
            {% for value in clientes %}
            
            <tr>
                <td scope="row">{{ value.numero_cliente }}</td>
                <!-- <td scope="row">{{ value.creation_date }}</td>
                <td scope="row">{{ value.modification_date }}</td> -->
                <td scope="row">{{ value.nombre }}</td>
                <td scope="row">{{ value.apellido }}</td>
                <td scope="row">{{ value.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- fin div container -->
{% endblock %}