
{% extends "Base/header.html" %}
{% load static %}


{% block content %}
<div class="container">
  <h1>Edición de Perfil</h1>
  <h2>{{ usuario }}</h2><br>
  <form method="POST" action="">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      

    <input type="submit" class="btn btn-primary btn-login text-uppercase fw-bold" value="Guardar">
  </form>

  <!-- <h2>Edición de avatar</h2>
  <form action="" method="POST" enctype="multipart/form-data">
    <table>
      {{ avatar_form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary btn-login text-uppercase fw-bold" value="Guardar Avatar">
  </form> -->

  </div>

{% endblock %}