{% extends "Base/header.html" %}
{% load static %}
{% block tittle %}

<h1> Formulario de discos </h1>
{% if formulario.erros %}
<p style="color: red"> Hay un error en el formulario </p>
{% endif %}

<form action="{% url 'discosformulario' %}" method="POST"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>

    <input type="submit" value="enviar">

</form>

<h1> Leer discos </h1>


{% for disco in discos %}
    <li> {{ disco }} </li>
    <button> 
        <a href="{% url 'EliminarDisco" disco.nombre %}"> Eliminar </a>
    </button>
 
{% endfor %}


<a href="{% url discosformulario" %}"> Agregar nuevo disco </a>
<a href="{% url discosformulario" %}"> Editar  disco </a>
{% endblock %}