{% extends 'Base/header.html' %}
{% load static %}
{% block content %}


<article class="my-3" id="toasts">
  <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
    <h3>Mensajes</h3>
  </div>

  <div>
      <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example bg-dark p-5 align-items-center">
          {% for i in msg %}
          <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">{{i.sender}}</strong>
              <small class="text-muted">{{i.modificated_at}}</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              {{i.body}}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

  </div>
</article>

<div class="container">
  <div class="row">
    <form action="" method="POST" class="form-floating mb-3">{% csrf_token %}
      {{ form.as_table}}
      <input type="submit", value="Enviar">
    </form>
  </div>
</div>


{% endblock %}