{% extends 'Base/header.html' %}
{% load static %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Hilos abiertos</span>
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <a href="{% url 'newMsg' %}" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Nuevo Mensaje</strong>
          </div>
      </div>
      {% for hilo in rooms %}
      <div class="list-group list-group-flush border-bottom scrollarea">
        <a href="{% url 'detailed' hilo.room.id hilo.user.id %}" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{hilo.user.username}}</strong>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="container">
      <form action="{% url 'Mensajes' %}" method="POST" class="row g-3">{% csrf_token %}
        <div class="col-md-6">
        <select name="userid" id="" class="form-select" type="select">
          <option selected="" disabled="" value="">Choose...</option>
          {% for user in all_users %}
          <option value="{{user.id}}">{{user.username}}</option>
          {% endfor %}
        </select>
        </div>
        <div class="col-md-2">
        <input type="submit" class="btn btn-primary" value="Nuevo Mensaje">
        </div>
      </form>
  </div> -->
</main>
{% endblock %}